.#{$kocktail--class-prefix}color-default {
  color: var(--color-default);
}

.#{$kocktail--class-prefix}color-primary {
  color: var(--color-primary);
}

.#{$kocktail--class-prefix}color-accent {
  color: var(--color-accent);
}

.#{$kocktail--class-prefix}color-alt {
  color: var(--color-alt);
}

.#{$kocktail--class-prefix}color-gray {
  color: var(--color-gray);
}

.#{$kocktail--class-prefix}color-red {
  color: var(--color-red);
}

.#{$kocktail--class-prefix}color-green {
  color: var(--color-green);
}

.#{$kocktail--class-prefix}color-blue {
  color: var(--color-blue);
}

.#{$kocktail--class-prefix}color-white {
  color: white;
}

.#{$kocktail--class-prefix}color-black {
  color: black;
}