.#{$cocktail_class_prefix}cursor-default {
  cursor: default;
}

.#{$cocktail_class_prefix}cursor-pointer {
  cursor: pointer;
}

.#{$cocktail_class_prefix}cursor-wait {
  cursor: wait;
}

.#{$cocktail_class_prefix}cursor-progress {
  cursor: progress;
}

.#{$cocktail_class_prefix}cursor-not {
  cursor: not-allowed;
}

.#{$cocktail_class_prefix}cursor-help {
  cursor: help;
}

.#{$cocktail_class_prefix}cursor-zoom-in {
  cursor: zoom-in;
}

.#{$cocktail_class_prefix}no-select {
  user-select: none;
}

.#{$cocktail_class_prefix}no-pointer-events {
  pointer-events: none;
}
