.#{$kocktail--class-prefix}cursor-default {
  cursor: default;
}

.#{$kocktail--class-prefix}cursor-pointer {
  cursor: pointer;
}

.#{$kocktail--class-prefix}cursor-wait {
  cursor: wait;
}

.#{$kocktail--class-prefix}cursor-progress {
  cursor: progress;
}

.#{$kocktail--class-prefix}cursor-not {
  cursor: not-allowed;
}

.#{$kocktail--class-prefix}cursor-help {
  cursor: help;
}

.#{$kocktail--class-prefix}no-select {
  user-select: none;
}
