.#{$kocktail_class_prefix}block {
  display: block;
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        display: block;
      }
    }
  }
}

.#{$kocktail_class_prefix}inline-block {
  display: inline-block;
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        display: inline-block;
      }
    }
  }
}

.#{$kocktail_class_prefix}inline {
  display: inline;
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        display: inline;
      }
    }
  }
}

.#{$kocktail_class_prefix}flex {
  display: flex;
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        display: flex;
      }
    }
  }
}

.#{$kocktail_class_prefix}inline-flex {
  display: inline-flex;
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        display: inline-flex;
      }
    }
  }
}

.#{$kocktail_class_prefix}grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
      }
    }
  }
}

.#{$kocktail_class_prefix}hidden {
  display: none;
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        display: none;
      }
    }
  }
}

