.#{$cocktail_class_prefix}font-xs {
  font-size: 0.75rem;
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        font-size: 0.75rem;
      }
    }
  }
}

.#{$cocktail_class_prefix}font-sm {
  font-size: 0.875rem;
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        font-size: 0.875rem;
      }
    }
  }
}

.#{$cocktail_class_prefix}font-nl {
  font-size: 1rem;
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        font-size: 1rem;
      }
    }
  }
}

.#{$cocktail_class_prefix}font-lg {
  font-size: 1.25rem;
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        font-size: 1.25rem;
      }
    }
  }
}

.#{$cocktail_class_prefix}font-xl {
  font-size: 1.5rem;
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        font-size: 1.5rem;
      }
    }
  }
}

.#{$cocktail_class_prefix}font-2xl {
  font-size: 1.875rem;
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        font-size: 1.875rem;
      }
    }
  }
}

.#{$cocktail_class_prefix}font-3xl {
  font-size: 2.25rem;
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        font-size: 2.25rem;
      }
    }
  }
}

.#{$cocktail_class_prefix}font-4xl {
  font-size: 3rem;
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        font-size: 3rem;
      }
    }
  }
}

.#{$cocktail_class_prefix}font-5xl {
  font-size: 4rem;
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        font-size: 4rem;
      }
    }
  }
}

.#{$cocktail_class_prefix}font-light {
  font-weight: 300;
}

.#{$cocktail_class_prefix}font-normal {
  font-weight: normal;
}

.#{$cocktail_class_prefix}font-medium {
  font-weight: 500;
}

.#{$cocktail_class_prefix}font-bold {
  font-weight: bold;
}

.#{$cocktail_class_prefix}font-black {
  font-weight: 900;
}

.#{$cocktail_class_prefix}font-italic {
  font-style: italic;
}
