@each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--grid-span-list {
  .#{$kocktail--class-prefix}grid-column-#{$--kocktail--name-size-suffix} {
    grid-column: $--kocktail--value-size-suffix;
  }
}

@each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--grid-span-list {
  .#{$kocktail--class-prefix}grid-column-start-#{$--kocktail--name-size-suffix} {
    grid-column-start: $--kocktail--name-size-suffix;
  }
}

@each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--grid-gap-list {
  .#{$kocktail--class-prefix}grid-column-gap-#{$--kocktail--name-size-suffix} {
    grid-column-gap: $--kocktail--value-size-suffix;
  }
}

@each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--grid-gap-list {
  .#{$kocktail--class-prefix}grid-row-gap-#{$--kocktail--name-size-suffix} {
    grid-row-gap: $--kocktail--value-size-suffix;
  }
}

@each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--grid-gap-list {
  .#{$kocktail--class-prefix}grid-gap-#{$--kocktail--name-size-suffix} {
    grid-gap: $--kocktail--value-size-suffix;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Media queries

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  @each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--grid-span-list {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      .#{$kocktail--class-prefix}grid-column-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name} {
        grid-column: $--kocktail--value-size-suffix;
      }
    }
  }
}

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  @each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--grid-span-list {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      .#{$kocktail--class-prefix}grid-column-start-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name} {
        grid-column-start: $--kocktail--name-size-suffix;
      }
    }
  }
}

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  @each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--grid-gap-list {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      .#{$kocktail--class-prefix}grid-column-gap-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name} {
        grid-column-gap: $--kocktail--value-size-suffix;
      }
    }
  }
}

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  @each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--grid-gap-list {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      .#{$kocktail--class-prefix}grid-row-gap-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name} {
        grid-row-gap: $--kocktail--value-size-suffix;
      }
    }
  }
}

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  @each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--grid-gap-list {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      .#{$kocktail--class-prefix}grid-gap-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name} {
        grid-gap: $--kocktail--value-size-suffix;
      }
    }
  }
}
