.#{$kocktail--class-prefix}max-height-full {
  max-height: 100%;
}

.#{$kocktail--class-prefix}max-height-full-view {
  max-height: 100vh;
}

.#{$kocktail--class-prefix}min-height-full {
  min-height: 100%;
}

.#{$kocktail--class-prefix}min-height-full-view {
  min-height: 100vh;
}

.#{$kocktail--class-prefix}height-full-view {
  height: 100vh;
}

.#{$kocktail--class-prefix}height-full {
  height: 100%;
}

.#{$kocktail--class-prefix}height-auto {
  height: auto;
}

.#{$kocktail--class-prefix}height-0-25 {
  height: 0.25rem;
}

.#{$kocktail--class-prefix}height-0-5 {
  height: 0.5rem;
}

.#{$kocktail--class-prefix}height-0-75 {
  height: 0.75rem;
}

.#{$kocktail--class-prefix}height-1 {
  height: 1rem;
}

.#{$kocktail--class-prefix}height-1-25 {
  height: 1.25rem;
}

.#{$kocktail--class-prefix}height-1-5 {
  height: 1.5rem;
}

.#{$kocktail--class-prefix}height-1-75 {
  height: 1.75rem;
}

.#{$kocktail--class-prefix}height-2 {
  height: 2rem;
}

.#{$kocktail--class-prefix}height-2-25 {
  height: 2.25rem;
}

.#{$kocktail--class-prefix}height-2-5 {
  height: 2.5rem;
}

.#{$kocktail--class-prefix}height-2-75 {
  height: 2.75rem;
}

.#{$kocktail--class-prefix}height-3 {
  height: 3rem;
}

.#{$kocktail--class-prefix}height-3-25 {
  height: 3.25rem;
}

.#{$kocktail--class-prefix}height-3-5 {
  height: 3.5rem;
}

.#{$kocktail--class-prefix}height-3-75 {
  height: 3.75rem;
}

.#{$kocktail--class-prefix}height-4 {
  height: 4rem;
}

.#{$kocktail--class-prefix}height-4-25 {
  height: 4.25rem;
}

.#{$kocktail--class-prefix}height-4-5 {
  height: 4.5rem;
}

.#{$kocktail--class-prefix}height-4-75 {
  height: 4.75rem;
}

.#{$kocktail--class-prefix}height-5 {
  height: 5rem;
}

.#{$kocktail--class-prefix}height-6 {
  height: 6rem;
}

.#{$kocktail--class-prefix}height-7 {
  height: 7rem;
}

.#{$kocktail--class-prefix}height-8 {
  height: 8rem;
}

.#{$kocktail--class-prefix}height-9 {
  height: 9rem;
}

.#{$kocktail--class-prefix}height-10 {
  height: 10rem;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Media queries

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  .max-height-full--#{$--kocktail--breakpoint-name} {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      max-height: 100%;
    }
  }
}

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  .max-height-full-view--#{$--kocktail--breakpoint-name} {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      max-height: 100vh;
    }
  }
}

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  .min-height-full--#{$--kocktail--breakpoint-name} {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      min-height: 100%;
    }
  }
}

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  .min-height-full-view--#{$--kocktail--breakpoint-name} {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      min-height: 100vh;
    }
  }
}

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  .height-full-view--#{$--kocktail--breakpoint-name} {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      height: 100vh;
    }
  }
}

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  .height-full--#{$--kocktail--breakpoint-name} {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      height: 100%;
    }
  }
}

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  .height-auto--#{$--kocktail--breakpoint-name} {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      height: auto;
    }
  }
}
