@each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--size-list {
  .#{$kocktail--class-prefix}margin-top-#{$--kocktail--name-size-suffix},
  .#{$kocktail--class-prefix}margin-y-#{$--kocktail--name-size-suffix},
  .#{$kocktail--class-prefix}margin-#{$--kocktail--name-size-suffix} {
    margin-top: $--kocktail--value-size-suffix;
  }
}

@each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--size-list {
  .#{$kocktail--class-prefix}margin-right-#{$--kocktail--name-size-suffix},
  .#{$kocktail--class-prefix}margin-x-#{$--kocktail--name-size-suffix},
  .#{$kocktail--class-prefix}margin-#{$--kocktail--name-size-suffix} {
    margin-right: $--kocktail--value-size-suffix;
  }
}

@each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--size-list {
  .#{$kocktail--class-prefix}margin-bottom-#{$--kocktail--name-size-suffix},
  .#{$kocktail--class-prefix}margin-y-#{$--kocktail--name-size-suffix},
  .#{$kocktail--class-prefix}margin-#{$--kocktail--name-size-suffix} {
    margin-bottom: $--kocktail--value-size-suffix;
  }
}

@each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--size-list {
  .#{$kocktail--class-prefix}margin-left-#{$--kocktail--name-size-suffix},
  .#{$kocktail--class-prefix}margin-x-#{$--kocktail--name-size-suffix},
  .#{$kocktail--class-prefix}margin-#{$--kocktail--name-size-suffix} {
    margin-left: $--kocktail--value-size-suffix;
  }
}

.#{$kocktail--class-prefix}margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.#{$kocktail--class-prefix}margin-y-auto {
  margin-top: auto;
  margin-bottom: auto;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Media queries

@each $--kocktail--breakpoint-name, $--kocktail--breakpoint-width in $--kocktail--breakpoint-suffix-width-list {
  @media screen and (min-width: $--kocktail--breakpoint-width) {
    @each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--size-list {
      .#{$kocktail--class-prefix}margin-top-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name},
      .#{$kocktail--class-prefix}margin-y-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name},
      .#{$kocktail--class-prefix}margin-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name} {
        margin-top: $--kocktail--value-size-suffix;
      }
    }
  }
}

@each $--kocktail--breakpoint-name, $--kocktail--breakpoint-width in $--kocktail--breakpoint-suffix-width-list {
  @media screen and (min-width: $--kocktail--breakpoint-width) {
    @each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--size-list {
      .#{$kocktail--class-prefix}margin-right-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name},
      .#{$kocktail--class-prefix}margin-x-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name},
      .#{$kocktail--class-prefix}margin-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name} {
        margin-right: $--kocktail--value-size-suffix;
      }
    }
  }
}

@each $--kocktail--breakpoint-name, $--kocktail--breakpoint-width in $--kocktail--breakpoint-suffix-width-list {
  @media screen and (min-width: $--kocktail--breakpoint-width) {
    @each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--size-list {
      .#{$kocktail--class-prefix}margin-bottom-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name},
      .#{$kocktail--class-prefix}margin-y-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name},
      .#{$kocktail--class-prefix}margin-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name} {
        margin-bottom: $--kocktail--value-size-suffix;
      }
    }
  }
}

@each $--kocktail--breakpoint-name, $--kocktail--breakpoint-width in $--kocktail--breakpoint-suffix-width-list {
  @media screen and (min-width: $--kocktail--breakpoint-width) {
    @each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--size-list {
      .#{$kocktail--class-prefix}margin-left-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name},
      .#{$kocktail--class-prefix}margin-x-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name},
      .#{$kocktail--class-prefix}margin-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name} {
        margin-left: $--kocktail--value-size-suffix;
      }
    }
  }
}

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  .margin-x-auto--#{$--kocktail--breakpoint-name} {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  .margin-y-auto--#{$--kocktail--breakpoint-name} {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
