.#{$kocktail--class-prefix}hover-trigger {
  &:hover,
  &:focus {
    .hover-content {
      display: block;
    }
  }
}

.#{$kocktail--class-prefix}float-left {
  float: left;
}

.#{$kocktail--class-prefix}float-right {
  float: right;
}

.#{$kocktail--class-prefix}fill-current-color {
  fill: currentColor;
}

.#{$kocktail--class-prefix}fill-white {
  fill: white;
}

.#{$kocktail--class-prefix}fill-black {
  fill: black;
}

.#{$kocktail--class-prefix}flip-vertical {
  transform: scaleX(-1);
}

.#{$kocktail--class-prefix}flip-horizontal {
  transform: scaleY(-1);
}
