.#{$kocktail_class_prefix}transparent {
  opacity: 0;
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        opacity: 0;
      }
    }
  }
}

.#{$kocktail_class_prefix}opaque {
  opacity: 1;
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        opacity: 1;
      }
    }
  }
}

.#{$kocktail_class_prefix}hover-trigger {
  &:hover,
  &:focus {
    .hover-content {
      display: block;
    }
  }
}

.#{$kocktail_class_prefix}float-left {
  float: left;
}

.#{$kocktail_class_prefix}float-right {
  float: right;
}

.#{$kocktail_class_prefix}color-white {
  color: white;
}

.#{$kocktail_class_prefix}color-black {
  color: black;
}

.#{$kocktail_class_prefix}fill-current-color {
  fill: currentColor;
}
