@each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--size-list {
  .#{$kocktail--class-prefix}padding-top-#{$--kocktail--name-size-suffix},
  .#{$kocktail--class-prefix}padding-y-#{$--kocktail--name-size-suffix},
  .#{$kocktail--class-prefix}padding-#{$--kocktail--name-size-suffix} {
    padding-top: $--kocktail--value-size-suffix;
  }
}

@each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--size-list {
  .#{$kocktail--class-prefix}padding-right-#{$--kocktail--name-size-suffix},
  .#{$kocktail--class-prefix}padding-x-#{$--kocktail--name-size-suffix},
  .#{$kocktail--class-prefix}padding-#{$--kocktail--name-size-suffix} {
    padding-right: $--kocktail--value-size-suffix;
  }
}

@each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--size-list {
  .#{$kocktail--class-prefix}padding-bottom-#{$--kocktail--name-size-suffix},
  .#{$kocktail--class-prefix}padding-y-#{$--kocktail--name-size-suffix},
  .#{$kocktail--class-prefix}padding-#{$--kocktail--name-size-suffix} {
    padding-bottom: $--kocktail--value-size-suffix;
  }
}

@each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--size-list {
  .#{$kocktail--class-prefix}padding-left-#{$--kocktail--name-size-suffix},
  .#{$kocktail--class-prefix}padding-x-#{$--kocktail--name-size-suffix},
  .#{$kocktail--class-prefix}padding-#{$--kocktail--name-size-suffix} {
    padding-left: $--kocktail--value-size-suffix;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Media queries

@each $--kocktail--breakpoint-name, $--kocktail--breakpoint-width in $--kocktail--breakpoint-suffix-width-list {
  @media screen and (min-width: $--kocktail--breakpoint-width) {
    @each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--size-list {
      .#{$kocktail--class-prefix}padding-top-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name},
      .#{$kocktail--class-prefix}padding-y-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name},
      .#{$kocktail--class-prefix}padding-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name} {
        padding-top: $--kocktail--value-size-suffix;
      }
    }
  }
}

@each $--kocktail--breakpoint-name, $--kocktail--breakpoint-width in $--kocktail--breakpoint-suffix-width-list {
  @media screen and (min-width: $--kocktail--breakpoint-width) {
    @each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--size-list {
      .#{$kocktail--class-prefix}padding-right-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name},
      .#{$kocktail--class-prefix}padding-x-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name},
      .#{$kocktail--class-prefix}padding-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name} {
        padding-right: $--kocktail--value-size-suffix;
      }
    }
  }
}

@each $--kocktail--breakpoint-name, $--kocktail--breakpoint-width in $--kocktail--breakpoint-suffix-width-list {
  @media screen and (min-width: $--kocktail--breakpoint-width) {
    @each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--size-list {
      .#{$kocktail--class-prefix}padding-bottom-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name},
      .#{$kocktail--class-prefix}padding-y-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name},
      .#{$kocktail--class-prefix}padding-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name} {
        padding-bottom: $--kocktail--value-size-suffix;
      }
    }
  }
}

@each $--kocktail--breakpoint-name, $--kocktail--breakpoint-width in $--kocktail--breakpoint-suffix-width-list {
  @media screen and (min-width: $--kocktail--breakpoint-width) {
    @each $--kocktail--name-size-suffix, $--kocktail--value-size-suffix in $--kocktail--size-list {
      .#{$kocktail--class-prefix}padding-left-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name},
      .#{$kocktail--class-prefix}padding-x-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name},
      .#{$kocktail--class-prefix}padding-#{$--kocktail--name-size-suffix}--#{$--kocktail--breakpoint-name} {
        padding-left: $--kocktail--value-size-suffix;
      }
    }
  }
}
