.#{$kocktail--class-prefix}static {
  position: static;
}

.#{$kocktail--class-prefix}relative {
  position: relative;
}

.#{$kocktail--class-prefix}absolute {
  position: absolute;
}

.#{$kocktail--class-prefix}fixed {
  position: fixed;
}

.#{$kocktail--class-prefix}sticky {
  position: sticky;
}

.#{$kocktail--class-prefix}top-0 {
  top: 0;
}

.#{$kocktail--class-prefix}right-0 {
  right: 0;
}

.#{$kocktail--class-prefix}bottom-0 {
  bottom: 0;
}

.#{$kocktail--class-prefix}left-0 {
  left: 0;
}

.#{$kocktail--class-prefix}top-full {
  top: 100%;
}

.#{$kocktail--class-prefix}right-full {
  right: 100%;
}

.#{$kocktail--class-prefix}bottom-full {
  bottom: 100%;
}

.#{$kocktail--class-prefix}left-full {
  left: 100%;
}

.#{$kocktail--class-prefix}stretch {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.#{$kocktail--class-prefix}center-x {
  left: 50%;
  transform: translateX(-50%);
}

.#{$kocktail--class-prefix}center-y {
  top: 50%;
  transform: translateY(-50%);
}

.#{$kocktail--class-prefix}center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$i: 1;
@while $i <= 5 {
  .#{$kocktail--class-prefix}z-index-#{$i} {
    z-index: #{$i};
  }
  $i: $i + 1;
}

.#{$kocktail--class-prefix}z-index-max {
  z-index: 2147483647;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Media queries

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  .static--#{$--kocktail--breakpoint-name} {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      position: static;
    }
  }
}

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  .relative--#{$--kocktail--breakpoint-name} {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      position: relative;
    }
  }
}

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  .absolute--#{$--kocktail--breakpoint-name} {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      position: absolute;
    }
  }
}

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  .fixed--#{$--kocktail--breakpoint-name} {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      position: fixed;
    }
  }
}

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  .sticky--#{$--kocktail--breakpoint-name} {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      position: sticky;
    }
  }
}
