.#{$kocktail--class-prefix}text-center {
  text-align: center;
}

.#{$kocktail--class-prefix}text-left {
  text-align: left;
}

.#{$kocktail--class-prefix}text-right {
  text-align: right;
}

.#{$kocktail--class-prefix}text-top {
  vertical-align: top;
}

.#{$kocktail--class-prefix}text-middle {
  vertical-align: middle;
}

.#{$kocktail--class-prefix}text-bottom {
  vertical-align: bottom;
}

.#{$kocktail--class-prefix}text-baseline {
  vertical-align: baseline;
}

.#{$kocktail--class-prefix}text-nowrap {
  white-space: nowrap;
}

.#{$kocktail--class-prefix}text-pre {
  white-space: pre;
}

.#{$kocktail--class-prefix}text-break {
  word-break: break-all;
}

.#{$kocktail--class-prefix}text-dots {
  text-overflow: ellipsis;
}

.#{$kocktail--class-prefix}text-tight {
  line-height: 1.25;
}

.#{$kocktail--class-prefix}text-average {
  line-height: 1.5;
}

.#{$kocktail--class-prefix}text-loose {
  line-height: 2;
}

.#{$kocktail--class-prefix}text-upper {
  text-transform: uppercase;
}

.#{$kocktail--class-prefix}text-lower {
  text-transform: lowercase;
}

.#{$kocktail--class-prefix}no-list {
  list-style: none;
}

.#{$kocktail--class-prefix}no-leading {
  line-height: 0;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Media queries

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  .text-center--#{$--kocktail--breakpoint-name} {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      text-align: center;
    }
  }
}

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  .text-left--#{$--kocktail--breakpoint-name} {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      text-align: left;
    }
  }
}

@each $--kocktail--breakpoint-name in $--kocktail--breakpoint-suffix-list {
  .text-right--#{$--kocktail--breakpoint-name} {
    @include respond-to(#{$--kocktail--breakpoint-name}, min) {
      text-align: right;
    }
  }
}
