.#{$cocktail_class_prefix}text-center {
  text-align: center;
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        text-align: center;
      }
    }
  }
}

.#{$cocktail_class_prefix}text-left {
  text-align: left;
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        text-align: left;
      }
    }
  }
}

.#{$cocktail_class_prefix}text-right {
  text-align: right;
  @each $nameBreakpointSuffix, $valueBreakpointSuffix in $breakpointSuffixList {
    &--#{$nameBreakpointSuffix} {
      @include respondTo(#{$valueBreakpointSuffix}) {
        text-align: right;
      }
    }
  }
}

.#{$cocktail_class_prefix}text-top {
  vertical-align: top;
}

.#{$cocktail_class_prefix}text-middle {
  vertical-align: middle;
}

.#{$cocktail_class_prefix}text-bottom {
  vertical-align: bottom;
}

.#{$cocktail_class_prefix}text-baseline {
  vertical-align: baseline;
}

.#{$cocktail_class_prefix}text-nowrap {
  white-space: nowrap;
}

.#{$cocktail_class_prefix}text-break {
  word-break: break-all;
}

.#{$cocktail_class_prefix}text-dots {
  text-overflow: ellipsis;
}

.#{$cocktail_class_prefix}text-tight {
  line-height: 1.25;
}

.#{$cocktail_class_prefix}text-average {
  line-height: 1.5;
}

.#{$cocktail_class_prefix}text-loose {
  line-height: 2;
}

.#{$cocktail_class_prefix}text-upper {
  text-transform: uppercase;
}

.#{$cocktail_class_prefix}text-lower {
  text-transform: lowercase;
}

.#{$cocktail_class_prefix}no-list {
  list-style: none;
}

.#{$cocktail_class_prefix}no-leading {
  line-height: 0;
}
