$kocktail_breakpoint_smartphone: 576px !default;
$kocktail_breakpoint_tablet: 768px !default;
$kocktail_breakpoint_netbook: 992px !default;
$kocktail_breakpoint_notebook: 1200px !default;
$kocktail_breakpoint_desktop: 1600px !default;

$kocktail_spacing_0: 0 !default;
$kocktail_spacing_1: 0.25rem !default;
$kocktail_spacing_2: 0.5rem !default;
$kocktail_spacing_3: 1rem !default;
$kocktail_spacing_4: 2rem !default;
$kocktail_spacing_5: 4rem !default;
$kocktail_spacing_6: 8rem !default;

$kocktail_grid_gap_0: 0 !default;
$kocktail_grid_gap_1: 0.25rem !default;
$kocktail_grid_gap_2: 0.5rem !default;
$kocktail_grid_gap_3: 1rem !default;
$kocktail_grid_gap_4: 2rem !default;
$kocktail_grid_gap_5: 3rem !default;
$kocktail_grid_gap_6: 4rem !default;
$kocktail_grid_gap_7: 5rem !default;

$kocktail_class_prefix: "" !default;

$breakpointSuffixWidthList: (
  sm: $kocktail_breakpoint_smartphone,
  md: $kocktail_breakpoint_tablet,
  lg: $kocktail_breakpoint_netbook,
  xl: $kocktail_breakpoint_notebook,
  xxl: $kocktail_breakpoint_desktop,
);

$breakpointList: (
  smartphone: $kocktail_breakpoint_smartphone,
  tablet: $kocktail_breakpoint_tablet,
  netbook: $kocktail_breakpoint_netbook,
  notebook: $kocktail_breakpoint_notebook,
  desktop: $kocktail_breakpoint_desktop,
);

$breakpointSuffixList: (
  sm: smartphone,
  md: tablet,
  lg: netbook,
  xl: notebook,
  xxl: desktop,
);

$sizeList: (
  0: $kocktail_spacing_0,
  1: $kocktail_spacing_1,
  2: $kocktail_spacing_2,
  3: $kocktail_spacing_3,
  4: $kocktail_spacing_4,
  5: $kocktail_spacing_5,
  6: $kocktail_spacing_6,
);

$gridGapList: (
  0: $kocktail_grid_gap_0,
  1: $kocktail_grid_gap_1,
  2: $kocktail_grid_gap_2,
  3: $kocktail_grid_gap_3,
  4: $kocktail_grid_gap_4,
  5: $kocktail_grid_gap_5,
  6: $kocktail_grid_gap_6,
  7: $kocktail_grid_gap_7,
);

$gridSpanList: (
  1: span 1 / span 1,
  2: span 2 / span 2,
  3: span 3 / span 3,
  4: span 4 / span 4,
  5: span 5 / span 5,
  6: span 6 / span 6,
  7: span 7 / span 7,
  8: span 8 / span 8,
  9: span 9 / span 9,
  10: span 10 / span 10,
  11: span 11 / span 11,
  12: span 12 / span 12,
);
