$kocktail--breakpoint-sm: 576px !default;
$kocktail--breakpoint-md: 768px !default;
$kocktail--breakpoint-lg: 992px !default;
$kocktail--breakpoint-xl: 1200px !default;
$kocktail--breakpoint-xxl: 1600px !default;

$kocktail--spacing-0: 0 !default;
$kocktail--spacing-1: 0.25rem !default;
$kocktail--spacing-2: 0.5rem !default;
$kocktail--spacing-3: 1rem !default;
$kocktail--spacing-4: 2rem !default;
$kocktail--spacing-5: 4rem !default;
$kocktail--spacing-6: 8rem !default;

$kocktail--grid-gap-0: 0 !default;
$kocktail--grid-gap-1: 0.25rem !default;
$kocktail--grid-gap-2: 0.5rem !default;
$kocktail--grid-gap-3: 1rem !default;
$kocktail--grid-gap-4: 2rem !default;
$kocktail--grid-gap-5: 3rem !default;
$kocktail--grid-gap-6: 4rem !default;
$kocktail--grid-gap-7: 5rem !default;

$kocktail--class-prefix: "" !default;

$--kocktail--breakpoint-suffix-width-list: (
  sm: $kocktail--breakpoint-sm,
  md: $kocktail--breakpoint-md,
  lg: $kocktail--breakpoint-lg,
  xl: $kocktail--breakpoint-xl,
  xxl: $kocktail--breakpoint-xxl,
);

$--kocktail--breakpoint-suffix-list: sm, md, lg, xl, xxl;

$--kocktail--size-list: (
  0: $kocktail--spacing-0,
  1: $kocktail--spacing-1,
  2: $kocktail--spacing-2,
  3: $kocktail--spacing-3,
  4: $kocktail--spacing-4,
  5: $kocktail--spacing-5,
  6: $kocktail--spacing-6,
);

$--kocktail--grid-gap-list: (
  0: $kocktail--grid-gap-0,
  1: $kocktail--grid-gap-1,
  2: $kocktail--grid-gap-2,
  3: $kocktail--grid-gap-3,
  4: $kocktail--grid-gap-4,
  5: $kocktail--grid-gap-5,
  6: $kocktail--grid-gap-6,
  7: $kocktail--grid-gap-7,
);

$--kocktail--grid-span-list: (
  1: span 1 / span 1,
  2: span 2 / span 2,
  3: span 3 / span 3,
  4: span 4 / span 4,
  5: span 5 / span 5,
  6: span 6 / span 6,
  7: span 7 / span 7,
  8: span 8 / span 8,
  9: span 9 / span 9,
  10: span 10 / span 10,
  11: span 11 / span 11,
  12: span 12 / span 12,
);
